<br>
<ul class="location_image_list row">
	<li class="col-sm-4"><a data-human-readable="SOMA - SF" data-location="soma" href="#"><%= image_tag "soma.png", height: "326px", width: "326px" %><span>SOMA - SF</span></a></li>
	<li class="col-sm-4"><a data-human-readable="Napa, CA" data-location="napa" href="#"><%= image_tag "napa.jpeg" %><span>Napa</span></a></li>
	<li class="col-sm-4"><a data-human-readable="Lake Tahoe" data-location="tahoe" href="#"><%= image_tag "tahoe.jpeg" %><span>Lake Tahoe</span></a></li>
	<!-- <li class="col-sm-4"><div id="map-canvas"></div></li> -->
</ul>
<br>
<section id="searchStuff" >
	<div class="row search_timeframe">
		<h1 class="inline-header col-sm-6">When do you want to go?</h1>
		<div class="col-sm-6" style="margin-top: 19px">
			<a class="btn btn-default"
					data-desc="the next three days"
					data-start-date="<%= DateTime.now.strftime "%F" %>"
					data-end-date="<%= DateTime.now.advance(days: 3).strftime "%F" %>"
					href="#">Three days</a>
			<a class="btn btn-default"
					data-desc="this week"
					data-start-date="<%= DateTime.now.strftime "%F" %>"
					data-end-date="<%= DateTime.now.advance(days: 7).strftime "%F" %>"
					href="#">One week</a>
			<a class="btn btn-default"
					data-desc="this weekend"
					data-start-date="<%= (DateTime.now.end_of_week - 2.days).strftime "%F" %>"
					data-end-date="<%= DateTime.now.end_of_week.strftime "%F" %>"
					href="#">This weekend</a>
			</div>
	</div>
	<div class="row">
		<h1 class="inline-header col-sm-6">How many people are there?</h1>
		<div style="height: 60px" class="col-sm-6">
			<select id="guests" name="guests">
		    <option value="1">1 Guest</option>
				<option value="2">2 Guests</option>
				<option value="3">3 Guests</option>
				<option value="4">4 Guests</option>
				<option value="5">5 Guests</option>
				<option value="6">6 Guests</option>
				<option value="7">7 Guests</option>
				<option value="8">8 Guests</option>
				<option value="9">9 Guests</option>
				<option value="10">10 Guests</option>
				<option value="11">11 Guests</option>
				<option value="12">12 Guests</option>
				<option value="13">13 Guests</option>
				<option value="14">14 Guests</option>
				<option value="15">15 Guests</option>
				<option value="16">16+ Guests</option>
		  </select>
	  </div>
	</div>

	<div class="row price_range">
		<h1 class="inline-header col-sm-6">What is your price range?</h1>
		<div class="col-sm-6" style="margin-top: 29px"><b class="low_price">$10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-tooltip="hide" data-slider-value="[10,1000]"/> <b class="high_price">$1000</b></div>
	</div>
	<div class="row room_type">
		<h1 class="inline-header col-sm-6">What room type do you need?</h1>
    <div class="col-sm-2">
      <label id="entire-place-tooltip" class="row row-table row-condensed checkbox">
        <div class="col-2 checkbox_container">
          <input type="checkbox" name="room-type" value="Entire home/apt">
        </div>
        <div class="col-8 col-middle text-center">
          <i class="icon icon-entire-place h2"></i>
          <div>Entire Place</div>
        </div>
        <div class="col-2 col-middle">&nbsp;</div>
      </label>
    </div>
    <div class="col-sm-2">
      <label id="private-room-tooltip" class="row row-table row-condensed checkbox">
        <div class="col-2 checkbox_container">
          <input type="checkbox" name="room-type" value="Private room">
        </div>
        <div class="col-8 col-middle text-center">
          <i class="icon icon-private-room h2"></i>
          <div>Private Room</div>
        </div>
        <div class="col-2 col-middle">&nbsp;</div>
      </label>
    </div>

    <div class="col-sm-2">
      <label id="shared-room-tooltip" class="row row-table row-condensed checkbox">
        <div class="col-2 checkbox_container">
          <input type="checkbox" name="room-type" value="Shared room">
        </div>
        <div class="col-2 col-middle text-center">
          <i class="icon icon-shared-room h2"></i>
          <div>Shared Room</div>
        </div>
        <div class="col-2 col-middle">&nbsp;</div>
      </label>
    </div>
  </div>
  <% if current_user.nil? %>
		<div class="row">
			<h1 class="inline-header col-sm-6">Where should alerts go?</h1>
			<div class="col-sm-6"><input type="email" data-toggle="tooltip" data-placement="bottom" title="Sorry about requiring email." class="form-control" id="email" style="margin-top: 22px;" placeholder="Your email" ></div>
	  </div>
  <% end %>
	<div class="row">
		<div class="col-sm-10 hidden"  id="summary">
			You are searching for canclations in <span class="choice location"></span>,
			for <span class="choice duration"></span>.
			You are looking for listings that accomodate <span class="choice guests">1 guest</span>,
			between <span class="choice range">$10 and $1000</span>.
			<span class="room_types">Entire Place, Private Room, Shared Room listings are being searched.</span>
			<br>
		</div>
		<div class="col-sm-2 pull-right"><%= render 'searches/form_landing' %></div>
	</div>
</section>