<h1>My Searches</h1>


<% @searches.each do |search| %>
	<div class="row">
	  <h3><%= search.name %></h3>

		<img class="col-sm-2" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= search.location %>&size=160x160&zoom=10">
	  <p>

	    <%= search.start_date %><br>
	    <%= search.end_date %><br>
	    (<%= (search.end_date - search.start_date).to_i %> days)<br>
	     <small> <%= search.listings.count %> listings being watched</small>
	  </p>

	  <a class="btn btn-default" href="https://www.airbnb.com/s/<%= search.options %>">View on airbnb</a><br>
	  <%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
	  <hr>
<% end %>

<br>

<%#= link_to 'New Search', new_search_path %>
