<h1>Your Surveys</h1>


<% @searches.each do |search| %>
  <h3><%= search.name %> <small> <%= search.listings.count %> listings being watched</small></h3>


  <p>
    Start: <%= search.start_date %><br>
    End: <%= search.end_date %><br>
    <%= (search.end_date - search.start_date).to_i %> days
  </p>

  <a class="btn btn-default" href="https://www.airbnb.com/s/<%= search.options %>">View on airbnb</a><br>
  <%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>

<br>

<%#= link_to 'New Search', new_search_path %>
